<div class="row" cg-busy="vm.promise">
  <div class="col-lg-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">
          <i class="fa fa-bar-chart"></i> Analítico
        </h3>
        <div class="pull-right">
          <i class="fa fa-refresh pointer" style="font-size: 20px" ng-click="$state.go('campaigns.detail', {campaign: vm.campaign.id}, {reload: true})"></i>
        </div>
      </div>
      <div class="box-body table-responsive">
        <div class="row">
          <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">[[ vm.campaign.title ]]</h3>
              </div>

              <div class="panel-body">
                <p>Criada em: <span class="label label-info">[[ vm.campaign.created | date: "dd/MM/yyyy 'às' HH:mm:ss" ]]</span></p>
                <p>Número de Visualizações Inicial: <span class="label label-info">[[ vm.campaign.initial_n_views ]]</span></p>
                <p>Número de Visualizações Atual: <span class="label label-info">[[ vm.campaign.n_views ]]</span></p>
                <p>Está Ativa? <span class="label" ng-class="vm.campaign.is_active ? 'label-success' : 'label-danger'">[[ vm.campaign.is_active ? 'Sim' : 'Não' ]]</span></p>
                <p>Está Cancelada? <span class="label" ng-class="vm.campaign.is_canceled ? 'label-danger' : 'label-success'">[[ vm.campaign.is_canceled ? 'Sim' : 'Não' ]]</span></p>
                <p>Data de Início: <span class="label label-info">[[ vm.campaign.start_date | date: "dd/MM/yyyy 'às' HH:mm:ss" ]]</span></p>
                <p>Data de Término: <span class="label label-info">[[ vm.campaign.end_date | date: "dd/MM/yyyy 'às' HH:mm:ss" ]]</span></p>
                <p>Idade Minima para Visualizar a Campanha: <span class="label label-info">[[ vm.campaign.age ]]</span></p>
                <p>Campanha Destinada ao gênero: <span class="label label-info">[[ vm.campaign.gender === '' ? 'Todos' : vm.campaign.gender ]]</span></p>
                <div ng-show="vm.campaign.states.length > 0">
                  <p>Estados: <span style="margin-right: 5px" class="label label-info" ng-repeat="state in vm.campaign.states">[[ state ]]</span></p>
                </div>

                <div ng-show="vm.campaign.cities.length > 0">
                  <p>Cidades: <span style="margin-right: 5px" class="label label-info" ng-repeat="city in vm.campaign.cities">[[ city ]]</span></p>
                </div>

                <div ng-if="vm.campaign.radius && vm.campaign.center" style="width: 100%;">
                  <ui-gmap-google-map center='vm.campaignMap.center' zoom='vm.campaignMap.zoom' class="small-map">
                    <ui-gmap-marker coords="vm.campaignCenter.position" options="vm.campaignCenter.options"
                        idkey="vm.campaignCenter.id"></ui-gmap-marker>

                    <ui-gmap-circle center="vm.campaignCenter.position" stroke="vm.circle.stroke"
                        fill="vm.circle.fill"
                        radius="vm.circle.radius"></ui-gmap-circle>
                  </ui-gmap-google-map>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-8">
            <div class="panel panel-success" cg-busy="vm.chartPromise">
              <div class="panel-heading">
                <div class="row">
                  <h3 class="panel-title col-lg-6" style="margin-bottom: 10px">Visualizações da Campanha</h3>

                  <div class="col-lg-6">
                    <span>Tipo de Interação</span>
                    <select ng-model="vm.interaction_type_chart"
                        ng-change="vm.loadChartData({id: vm.campaign.id, type: vm.interaction_type_chart})"
                        style="margin-right: 10px">
                      <option value="">Todas</option>
                      <option value="Visualização">Visualização</option>
                      <option value="Interação">Interação</option>
                    </select>
                    <i class="fa fa-refresh pointer" style="font-size: 17px;"
                        ng-click="vm.loadChartData({id: vm.campaign.id, type: vm.interaction_type_chart})"></i>
                  </div>
                </div>
              </div>

              <div class="panel-body" style="padding: 10px 10px 30px 10px">
                <linechart data="vm.data" options="vm.options"></linechart>
              </div>

              <div class="panel-footer">
                <span>Total de Registros: [[ vm.chartCount ]]</span>
              </div>
            </div>

            <div class="panel panel-info" cg-busy="vm.viewersLogPromise">
              <div class="panel-heading">
                <div class="panel-title">
                  <div class="clearfix" style="margin-bottom: 10px">
                    <div class="pull-left">
                      <h4>Tabela de Interação de Usuários</h4>
                      <h5>Total de registros: [[ vm.viewersLog.count ]]</h5>
                    </div>
                    <span class="pull-right" style="cursor: pointer;position: relative;top: 15px"
                        ng-click="vm.loadViewersLog({'page_size': vm.page_size, 'search': vm.query, 'interaction_type': vm.interaction_type})"
                        title="Recarregar registro de visualizações"><i class="fa fa-refresh"></i>
                    </span>
                    <div class="pull-right" style="margin-left: 5px;margin-right: 15px;position: relative;top: 10px; margin-bottom: 10px">
                      <span>Total por página:</span>
                      <select ng-options="value for value in [5, 10, 15, 20, 30]" ng-model="vm.page_size"
                          ng-change="vm.loadViewersLog({'page_size': vm.page_size, 'search': vm.query, 'interaction_type': vm.interaction_type})"></select>
                    </div>
                    <div class="pull-right col-lg-4 col-md-4 col-xs-12" style="position: relative;top: 5px">
                      <form class="input-group">
                        <input type="text" class="form-control" placeholder="Busca" ng-model="vm.query">
                        <span class="input-group-btn">
                          <button class="btn btn-default" ng-click="vm.loadViewersLog({'page_size': vm.page_size, 'search': vm.query, 'interaction_type': vm.interaction_type})">
                            <i class="fa fa-search"></i>
                          </button>
                        </span>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <table class="table table-bordered table-hover">
                <thead>
                  <th>Usuário</th>
                  <th>Horário da Interação</th>
                  <th class="clearfix">
                    <span style="position: relative; top: 8px;">Tipo de Interação</span>
                    <select ng-model="vm.interaction_type" class="pull-right" style="margin-top: 10px"
                        ng-change="vm.loadViewersLog({'page_size': vm.page_size, 'search': vm.query, 'interaction_type': vm.interaction_type})">
                      <option value="">Todas</option>
                      <option value="Visualização">Visualização</option>
                      <option value="Interação">Interação</option>
                    </select>
                  </th>
                </thead>

                <tbody>
                  <tr ng-repeat="log in vm.viewersLog.results">
                    <td>[[ log.username ]]</td>
                    <td>[[ log.view_date | date: "dd/MM/yyyy 'às' HH:mm:ss" ]]</td>
                    <td>[[ log.interaction_type ]]</td>
                  </tr>
                </tbody>
              </table>

              <div class="panel-footer clearfix" style="padding: 0">
                <nav aria-label="Page navigation" class="pull-right" ng-show="vm.viewersLog.page_range.length > 1" style="margin: 0 15px">
                  <ul class="pagination pagination-sm">
                    <li ng-class="{'disabled': !vm.viewersLog.has_previous}">
                      <a ng-click="vm.viewersLog.previous_page_number && vm.loadViewersLog({'page': vm.viewersLog.previous_page_number, 'page_size': vm.page_size, 'search': vm.query, 'interaction_type': vm.interaction_type})"
                          aria-label="Previous" ng-class="{'pointer': vm.viewersLog.has_previous}">
                        <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
                      </a>
                    </li>
                    <li ng-repeat="num_page in vm.viewersLog.page_range" ng-class="{'active': num_page === vm.viewersLog.number}" class="pointer">
                      <a ng-click="vm.loadViewersLog({'page': num_page, 'page_size': vm.page_size, 'search': vm.query, 'interaction_type': vm.interaction_type})">[[ num_page ]]</a>
                    </li>
                    <li ng-class="{'disabled': !vm.viewersLog.has_next}">
                      <a ng-click="vm.viewersLog.next_page_number && vm.loadViewersLog({'page': vm.viewersLog.next_page_number, 'page_size': vm.page_size, 'search': vm.query, 'interaction_type': vm.interaction_type})"
                          aria-label="Next" ng-class="{'pointer': vm.viewersLog.has_next}">
                        <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>