<div class="row">
  <div class="col-lg-12" cg-busy="vm.promise">
    {% if not user.is_superuser %}<n-views></n-views>{% endif %}
    <div class="box box-solid">
      <div class="box-header">
        <h3 class="box-title"><i class="fa fa-rss"></i> Campanhas</h3>
        <hr>
      </div>

      <div class="box-body table-responsive">
        <div class="clearfix" style="margin-bottom: 10px">
          <h4 class="pull-left">Campanhas ([[ vm.campaigns.count ]]) </h4>
          <span style="margin-left: 15px; position: relative; top: 11px; font-size: 12px">
              <i class="fa fa-square text-danger"></i> Campanhas canceladas
          </span>
          <span class="pull-right" style="cursor: pointer;position: relative;top: 15px"
              ng-click="vm.loadCampaigns({'page_size': vm.page_size, 'search': vm.query})"
              title="Recarregar campaigns"><i class="fa fa-refresh"></i>
          </span>
          <div class="pull-right" style="margin-left: 15px;margin-right: 15px;position: relative;top: 10px; margin-top: 10px">
            <span>Total por página:</span>
            <select ng-options="value for value in [5, 10, 20, 30]" ng-model="vm.page_size"
                ng-change="vm.loadCampaigns({'page_size': vm.page_size, 'search': vm.query})"></select>
          </div>
          <div class="pull-right col-lg-3 col-md-4 col-xs-12" style="position: relative;top: 5px; margin-top: 10px">
            <form class="input-group">
              <input type="text" class="form-control" placeholder="Busca" ng-model="vm.query">
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="vm.loadCampaigns({'page_size': vm.page_size, 'search': vm.query})">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </form>
          </div>
        </div>
        <table id="campaigns" class="table table-bordered table-striped table-responsive">
          <thead>
            <tr>
              <th>#</th>
              {% if user.is_superuser %}
                <th>Usuário</th>
              {% endif %}
              <th>Título</th>
              <th>URL</th>
              <th>Foto</th>
              <th>Criada em</th>
              <th>Número Inicial de Visualizações</th>
              <th>Número de Visualizações Atual</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="campaign in vm.campaigns.results" ng-class="{'danger': campaign.is_canceled }">
              <td>[[ campaign.id ]]</td>
              {% if user.is_superuser %}
                <td>[[ campaign.owner.username ]]</td>
              {% endif %}
              <td>[[ campaign.title ]]</td>
              <td>[[ campaign.url ]]</td>
              <td style="text-align: center">
                <a ng-click="vm.openImage({url: campaign.photo })" class="pointer">
                  <img alt="image[[ campaign.id ]]" ng-src="[[ campaign.photo ]]" height="32" width="32">
                </a>
              </td>
              <td>[[ campaign.created | date: "dd/MM/yyyy 'às' HH:mm:ss" ]]</td>
              <td>[[ campaign.initial_n_views ]]</td>
              <td>[[ campaign.n_views ]]</td>
              <td>[[ campaign.status ]]</td>
              <td>
                {% if user.is_superuser %}
                  <button ng-if="!campaign.is_active" class="btn btn-success"
                      ng-click="vm.updateCampaign(campaign, {id: campaign.id, is_active: true, status: 'Ativa'})">Ativar</button>
                  <button ng-if="campaign.is_active" class="btn btn-danger"
                      ng-click="vm.updateCampaign(campaign, {id: campaign.id, is_active: false, status: 'Em Avaliação'})">Desativar</button>


                {% else %}
                    <i class="fa fa-level-down pointer" ng-if="!campaign.is_canceled" ng-click="vm.cancelCampaign(campaign)"
                        style="font-size: 12px; border-radius: 50%; border: thin solid silver; padding: 10px; margin: 5px 0 5px 5px"
                        title="Clique para cancelar essa campanha"></i>

                    <i class="fa fa-level-up pointer" ng-if="campaign.is_canceled"
                      style="font-size: 12px; border-radius: 50%; border: thin solid silver; padding: 10px; margin: 5px 0 5px 5px"
                      ng-click="vm.cancelCampaign(campaign)" ng-disabled="User.n_views - campaign.n_views < 0"
                      ng-attr-title="[[ User.n_views - campaign.n_views < 0 ?
                                    'Você não possui visualizações suficientes para reativar essa campanha.' :
                                    'Você possui visualizações suficientes para reativar essa campanha.' ]]"></i>

                    <i class="fa fa-bar-chart pointer" ng-click="$state.go('campaigns.detail', {campaign: campaign.id})"
                        style="font-size: 12px; border-radius: 50%; border: thin solid silver; padding: 10px; margin: 5px 0 5px 5px" title="Clique para visualizar detalhes dessa campanha"></i>
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation" class="pull-right" ng-show="vm.campaigns.page_range.length > 1">
          <ul class="pagination pagination-sm">
            <li ng-class="{'disabled': !vm.campaigns.has_previous}">
              <a ng-click="vm.campaigns.previous_page_number && vm.loadCampaigns({'page': vm.campaigns.previous_page_number, 'page_size': vm.page_size, 'search': vm.query})"
                  aria-label="Previous" ng-class="{'pointer': vm.campaigns.has_previous}">
                <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
              </a>
            </li>
            <li ng-repeat="num_page in vm.campaigns.page_range" ng-class="{'active': num_page === vm.campaigns.number}" class="pointer">
              <a ng-click="vm.loadCampaigns({'page': num_page, 'page_size': vm.page_size, 'search': vm.query})">[[ num_page ]]</a>
            </li>
            <li ng-class="{'disabled': !vm.campaigns.has_next}">
              <a ng-click="vm.campaigns.next_page_number && vm.loadCampaigns({'page': vm.campaigns.next_page_number, 'page_size': vm.page_size, 'search': vm.query})"
                  aria-label="Next" ng-class="{'pointer': vm.campaigns.has_next}">
                <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
