<div class="row" cg-busy="vm.promise" id="top_campaign">
  <form name="newCampaignForm" novalidate>
    <div class="col-lg-12">
      <n-views></n-views>
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-rss"></i> Nova Campanha</h3>
        </div>

        <div class="box-body">
          <div class="row">
            <div class="col-lg-7">

              <div class="form-group" ng-class="{'has-error': vm.errors.title}">
                <label for="">Título da Campanha</label>
                <input type="text" class="form-control" name="title" ng-model="vm.campaign.title" autofocus required>
                <span class="help-block" ng-show="vm.errors.title">
                  [[ vm.errors.title[0] ]]
                </span>
              </div>

              <div class="form-group" ng-class="{'has-error': vm.errors.url}">
                <label for="">URL da Campanha (não esqueça do <code>http://</code> ou <code>https://</code>)</label>
                <input type="text" class="form-control" name="url" ng-model="vm.campaign.url" required>
                <span class="help-block" ng-show="vm.errors.url">
                  URL inválida
                </span>
              </div>

              <div class="form-group" ng-class="{'has-error': vm.errors.photo}">
                <label for="">Imagem da Campanha</label>
                <input id="id_photo" type="file" class="filestyle" name="photo" fileread="vm.campaign.photo_file" ng-required>
                <span class="help-block" ng-show="vm.errors.photo">
                  Por favor, selecione uma imagem válida.
                </span>
              </div>

              <div class="form-group" ng-class="{'has-error': vm.errors.initial_n_views}">
                <label for="">Número de Visualizações</label>
                <input id="id_n_views" type="number" class="form-control" name="initial_n_views" ng-model="vm.campaign.initial_n_views" required>
                <span class="help-block" ng-show="vm.errors.initial_n_views">
                  [[ vm.errors.initial_n_views[0] ]]
                </span>
              </div>
            </div>

            <div class="col-lg-5">
              <div class="alert alert-success alert-dismissible" ng-show="vm.showCampaignMessage">
                <button type="button" class="close" ng-click="vm.showCampaignMessage = !vm.showCampaignMessage">
                  <span aria-hidden="true">&times;</span>
                </button>
                <p style="font-size: 14px">Sua campanha foi criada com sucesso e será imediatamente avaliada pela nossa equipe para que seja liberada o quanto antes. Obrigado!</p >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-7">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group" ng-class="{'has-error': vm.errors.start_date}">
                    <label for="">Data Inicial da Campanha <span ng-show="vm.errors.start_date">[[ vm.errors.start_date[0] ]]</span></label>
                    <input type="text" class="form-control" value='[[ vm.campaign.start_date | date:"dd/MM/yyyy HH:mm:ss" ]]'  disabled />
                    <div class="clearfix" style="margin-top: 5px">
                      <div class="pull-left" uib-datepicker ng-model="vm.campaign.start_date_date"
                          ng-change="vm.updateStartDate()"></div>
                      <div class="pull-left" uib-timepicker ng-model="vm.campaign.start_date_time"
                          ng-change="vm.updateStartDate()" show-meridian="false"
                          style="margin-left: 20px;padding-top: 0"></div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group" ng-class="{'has-error': vm.errors.end_date}">
                    <label for="">Data Final da Campanha <span ng-show="vm.errors.end_date">[[ vm.errors.end_date[0] ]]</span></label>
                    <input type="text" class="form-control" value='[[ vm.campaign.end_date | date:"dd/MM/yyyy HH:mm:ss" ]]'  disabled />
                    <div class="clearfix" style="margin-top: 5px">
                      <div class="pull-left" uib-datepicker ng-model="vm.campaign.end_date_date"
                          ng-change="vm.updateEndDate()"></div>
                      <div class="pull-left" uib-timepicker ng-model="vm.campaign.end_date_time"
                          ng-change="vm.updateEndDate()" show-meridian="false"
                          style="margin-left: 20px;padding-top: 0"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-7">
              <div class="form-group">
                <label for="">Campanha destinada ao gênero</label>
                <select class="form-control" name="gender" ng-model="vm.campaign.gender">
                  <option value="">Todos</option>
                  <option value="M">Masculino</option>
                  <option value="F">Feminino</option>
                  <option value="O">Outro</option>
                </select>
              </div>

              <div class="form-group" ng-class="{'has-error': vm.errors.age}">
                <label for="">Idade Mínima para Visualização da Campanha (deixe em branco ou selecione 0 para todas as idades)</label>
                <input type="number" class="form-control" ng-model="vm.campaign.age">
                <span class="help-block" ng-show="vm.errors.age">
                  [[ vm.errors.age[0] ]]
                </span>
              </div>

              <div class="form-group">
                <label for="">Abrangência da campanha</label>
                <select ng-model="vm.campaignType" class="form-control" ng-change="vm.changeCampaignType()"
                    required>
                  <option value="">Selecione uma opção de abrangência</option>
                  <option value="0">Estados</option>
                  <option value="1">Cidades</option>
                  <option value="2">Área no mapa</option>
                </select>
              </div>

              <div ng-if="vm.campaignType === '0'">
                <h5>Pressione e segure a tecla "Control (Ctrl)" no seu teclado para selecionar mais de um estado.</h5>
                <select ng-model="vm.campaign.states" class="form-control" style="min-height: 500px"
                    ng-options="k as v.nome for (k, v) in vm.statesMap" required multiple></select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div ng-if="vm.campaignType === '1'">
                <div class="row">
                  <div class="col-lg-4">
                    <h5>Primeiro selecione um estado.</h5>
                    <select ng-model="vm.stateCity" class="form-control"
                        ng-options="k as v.nome for (k, v) in vm.statesMap"
                        ng-change="vm.showCities()"></select>
                  </div>

                  <div class="col-lg-4">
                    <h5>Em seguida clique nas cidades que deseja selecionar</h5>
                    <select ng-model="vm.selectedCities" ng-options="city for city in vm.cities"
                        style="min-height: 500px" class="form-control"
                        ng-change="vm.addCities()" multiple></select>
                  </div>

                  <div class="col-lg-4">
                    <h5>Lista de cidades selecionadas (clique para remover)</h5>
                    <select ng-model="vm.selectedCitiesRemove" ng-options="city for city in vm.campaign.cities"
                        style="min-height: 500px" class="form-control"
                        ng-change="vm.removeCities()" multiple></select>
                  </div>
                </div>
              </div>

              <div ng-if="vm.campaignType === '2'">
                <h5>Arraste os marcadores para selecionar o centro e o raio de abrangência da campanha.</h5>
                <ui-gmap-google-map center='vm.campaignMap.center' zoom='vm.campaignMap.zoom'>
                  <ui-gmap-marker coords="vm.campaignCenter.position" options="vm.campaignCenter.options"
                      events="vm.campaignCenter.events" idkey="vm.campaignCenter.id"></ui-gmap-marker>

                  <ui-gmap-marker coords="vm.campaignLimit.position" options="vm.campaignLimit.options"
                      events="vm.campaignLimit.events" idkey="vm.campaignLimit.id"></ui-gmap-marker>

                  <ui-gmap-circle center="vm.campaignCenter.position" stroke="vm.circle.stroke"
                      fill="vm.circle.fill"
                      radius="vm.circle.radius"></ui-gmap-circle>
                </ui-gmap-google-map>
              </div>

              <hr>
              <button ng-click="vm.createCampaign(newCampaignForm)" class="btn btn-primary"
                  ng-disabled="newCampaignForm.$invalid || (vm.campaignType === '1' && vm.campaign.cities.length === 0)">
                <i class="fa fa-save"></i> Criar campanha
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  $(function () {
    $('#id_photo').filestyle({
      'iconName': 'glyphicon glyphicon-picture',
      'buttonText': 'Imagem da campanha'
    });
  });
</script>