<div class="row">
  <div class="col-lg-12" cg-busy="vm.promise">
    <div class="box box-solid">
      <div class="box-header">
        <h3 class="box-title"><i class="fa fa-question-circle"></i> Suporte</h3>

        {% if not user.is_superuser %}
          <button class="btn btn-primary pull-right" ng-click="vm.openNewTicketModal()">
            <i class="fa fa-plus"></i> Novo Ticket
          </button>
        {% endif %}
        <hr>
      </div>

      <div class="box-body table-responsive">
        <div class="clearfix" style="margin-bottom: 10px">
          <h4 class="pull-left">{% if not user.is_superuser %}Meus {% endif %}Tickets ([[ vm.tickets.count ]])</h4>
          <span class="pull-right" style="cursor: pointer;position: relative;top: 15px"
              ng-click="vm.loadTickets({'page_size': vm.page_size, 'search': vm.query})"
              title="Recarregar tickets"><i class="fa fa-refresh"></i>
          </span>
          <div class="pull-right" style="margin-left: 15px;margin-right: 15px;position: relative;top: 10px">
            <span>Total por página:</span>
            <select ng-options="value for value in [5, 10, 20, 30]" ng-model="vm.page_size"
                ng-change="vm.loadTickets({'page_size': vm.page_size, 'search': vm.query})"></select>
          </div>
          <div class="pull-right col-lg-3 col-md-4 col-xs-12" style="position: relative;top: 5px; margin-top: 10px">
            <form class="input-group">
              <input type="text" class="form-control" placeholder="Busca" ng-model="vm.query">
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="vm.loadTickets({'page_size': vm.page_size, 'search': vm.query})">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </form>
          </div>
        </div>
        <table id="tickets" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Razão Social</th>
              {% if user.is_superuser %}
                <th>Usuário</th>
                <th>Email</th>
                <th>CPF/CNPJ</th>
              {% endif %}
              <th>Descrição</th>
              <th>Data da criação</th>
              <th>Última Atualização</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ticket in vm.tickets.results">
              <td>[[ ticket.id ]]</td>
              <td>[[ ticket.name ]]</td>
              {% if user.is_superuser %}
                <td>[[ ticket.username ]]</td>
                <td>[[ ticket.email ]]</td>
                <td>[[ ticket.ssn ]]</td>
              {% endif %}
              <td>[[ ticket.description ]]</td>
              <td>[[ ticket.created | date:"dd/MM/yyyy 'às' HH:mm:ss" ]]</td>
              <td>[[ ticket.modified | date:"dd/MM/yyyy 'às' HH:mm:ss" ]]</td>
              <td><status-display status="[[ ticket.status ]]"></status-display></td>
              <td><i class="fa fa-edit" ng-click="vm.openEditTicketModal(ticket)" style="cursor: pointer" title="Clique para editar esse ticket"></i></td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation" class="pull-right" ng-show="vm.tickets.page_range.length > 1">
          <ul class="pagination pagination-sm">
            <li ng-class="{'disabled': !vm.tickets.has_previous}">
              <a ng-click="vm.tickets.previous_page_number && vm.loadTickets({'page': vm.tickets.previous_page_number, 'page_size': vm.page_size, 'search': vm.query})"
                  aria-label="Previous" ng-class="{'pointer': vm.tickets.has_previous}">
                <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
              </a>
            </li>
            <li ng-repeat="num_page in vm.tickets.page_range" ng-class="{'active': num_page === vm.tickets.number}" class="pointer">
              <a ng-click="vm.loadTickets({'page': num_page, 'page_size': vm.page_size, 'search': vm.query})">[[ num_page ]]</a>
            </li>
            <li ng-class="{'disabled': !vm.tickets.has_next}">
              <a ng-click="vm.tickets.next_page_number && vm.loadTickets({'page': vm.tickets.next_page_number, 'page_size': vm.page_size, 'search': vm.query})"
                  aria-label="Next" ng-class="{'pointer': vm.tickets.has_next}">
                <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="newTicketModal.html">
  <div cg-busy="vm.createTicketPromise">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Novo Ticket</h3>
    </div>
    <div class="modal-body" id="modal-body">
      <form name="newTicketForm" novalidate>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="vm.ticket.name" placeholder="Razão Social" required>
        </div>
        <div class="form-group">
          <textarea class="form-control" ng-model="vm.ticket.description" placeholder="Descrição" required></textarea>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="ssn" ng-model="vm.ticket.ssn" placeholder="CPF" required="required" ui-br-cpfcnpj-mask>
        </div>
      </form> 
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="vm.saveTicket()" ng-disabled="newTicketForm.$invalid">
        <i class="fa fa-save"></i> Criar
      </button>
      <button class="btn btn-default" ng-click="vm.close()">
        <i class="fa fa-close"></i> Fechar
      </button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="editTicketModal.html">
  <div cg-busy="vm.updateTicketPromise">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Editar Ticket</h3>
    </div>
    <div class="modal-body" id="modal-body">
      <form name="newTicketForm" novalidate>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="vm.ticket.name" placeholder="Razão Social" required>
        </div>
        <div class="form-group">
          <textarea class="form-control" ng-model="vm.ticket.description" placeholder="Descrição" required></textarea>
        </div>
        {% if user.is_superuser %}
          <div class="form-group">
            <select ng-model="vm.ticket.status" class="form-control" ng-options='obj.key as obj.value for obj in {{ status_options | safe }}'></select>
          </div>
        {% endif %}
        <div class="form-group">
          <input type="text" class="form-control" name="ssn" ng-model="vm.ticket.ssn" placeholder="CPF" required="required" ui-br-cpfcnpj-mask>
        </div>
      </form> 
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="vm.updateTicket()" ng-disabled="newTicketForm.$invalid">
        <i class="fa fa-save"></i> Atualizar
      </button>
      <button class="btn btn-default" ng-click="vm.close()">
        <i class="fa fa-close"></i> Fechar
      </button>
    </div>
  </div>
</script>
  
