<div class="row">
  <div class="col-lg-12" cg-busy="vm.promise">
    <n-views></n-views>
    <div class="box box-solid">
      <div class="box-header">
        <h3 class="box-title">Comprar packs</h3>
        <span class="pull-right" style="cursor: pointer;" ng-show="User.profile"
            ng-click="vm.loadPacks()"
            title="Recarregar packs"><i class="fa fa-refresh" style="font-size: 20px"></i>
        </span>
        <hr/>
      </div>

      <div class="box-body">
        <div class="row">
          <div class="col-lg-4" ng-repeat="pack in vm.packs.results" ng-show="User.profile">
            <div class="panel panel-info" style="text-align: center">
              <div class="panel-heading">
                <h3 class="panel-title">[[ pack.name ]]</h3>
              </div>
              <div class="panel-body">
                <h2>[[ pack.price | currency ]]</h2>
                <h3>[[ pack.n_views ]] visualizações</h3>
              </div>

              <div class="panel-footer">
                <button class="btn btn-success" ng-click="vm.addPackToCart(pack)">
                  <i class="fa fa-cart-arrow-down"></i> Adicionar ao carrinho
                </button>
              </div>
            </div>
          </div>

          <div class="col-lg-6" ng-hide="User.profile">
            <div class="alert alert-info">
              Você precisa preencher suas informações de cobrança para adquirir packs. Acesse a aba de configurações e atualize seu cadastro. 
              Se preferir, clique <a ui-sref="settings">aqui</a>.
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>