<div class="row">
  <div class="col-lg-12" cg-busy="vm.promise">
    <div class="box box-solid">
      <div class="box-header">
        <h3 class="box-title"><i class="fa fa-archive"></i> Criar Pack</h3>

        <button class="btn btn-primary pull-right" ng-click="vm.openNewPackModal()">
          <i class="fa fa-plus"></i> Novo Pack
        </button>
        <hr/>
      </div>

      <div class="box-body table-responsive">
        <div class="clearfix" style="margin-bottom: 10px">
          <h4 class="pull-left">Packs Disponíveis ([[ vm.packs.count ]])</h4>
          <span class="pull-right" style="cursor: pointer;position: relative;top: 15px"
              ng-click="vm.loadPacks({'page_size': vm.page_size, 'search': vm.query})"
              title="Recarregar packs"><i class="fa fa-refresh"></i>
          </span>
          <div class="pull-right" style="margin-left: 15px;margin-right: 15px;position: relative;top: 10px">
            <span>Total por página:</span>
            <select ng-options="value for value in [5, 10, 20, 30]" ng-model="vm.page_size"
                ng-change="vm.loadPacks({'page_size': vm.page_size, 'search': vm.query})"></select>
          </div>
          <div class="pull-right col-lg-2 col-md-2 col-xs-2" style="position: relative;top: 5px">
            <form class="input-group">
              <input type="text" class="form-control" placeholder="Busca" ng-model="vm.query">
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="vm.loadPacks({'page_size': vm.page_size, 'search': vm.query})">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </form>
          </div>
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <th>Nome</th>
            <th>Preço</th>
            <th>Número de Visualizações</th>
          </thead>

          <tbody>
            <tr ng-repeat="pack in vm.packs.results">
              <td>[[ pack.name ]]</td>
              <td>[[ pack.price | currency ]]</td>
              <td>[[ pack.n_views ]]</td>
            </tr>
          </tbody>
        </table>

        <nav aria-label="Page navigation" class="pull-right" ng-show="vm.packs.page_range.length > 1">
          <ul class="pagination pagination-sm">
            <li ng-class="{'disabled': !vm.packs.has_previous}">
              <a ng-click="vm.packs.previous_page_number && vm.loadPacks({'page': vm.packs.previous_page_number, 'page_size': vm.page_size, 'search': vm.query})"
                  aria-label="Previous" ng-class="{'pointer': vm.packs.has_previous}">
                <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
              </a>
            </li>
            <li ng-repeat="num_page in vm.packs.page_range" ng-class="{'active': num_page === vm.packs.number}" class="pointer">
              <a ng-click="vm.loadPacks({'page': num_page, 'page_size': vm.page_size, 'search': vm.query})">[[ num_page ]]</a>
            </li>
            <li ng-class="{'disabled': !vm.packs.has_next}">
              <a ng-click="vm.packs.next_page_number && vm.loadPacks({'page': vm.packs.next_page_number, 'page_size': vm.page_size, 'search': vm.query})"
                  aria-label="Next" ng-class="{'pointer': vm.packs.has_next}">
                <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="newPackModal.html">
  <div cg-busy="vm.createPackPromise">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Novo Pack</h3>
    </div>
    <div class="modal-body" id="modal-body">
      <form name="newPackForm" novalidate>
        <div class="form-group">
          <input type="text" class="form-control" name="name" ng-model="vm.pack.name" placeholder="Nome do Pack" required/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="price" ng-model="vm.pack.price" placeholder="Preço" required ui-money-mask/>
        </div>
        <div class="form-group" ng-class="{'has-error': vm.errors.n_views}">
          <input type="number" class="form-control" name="n_views" ng-model="vm.pack.n_views" placeholder="Número de views" required="required" />
          <span class="help-block" ng-show="vm.errors.n_views">[[ vm.errors.n_views[0] ]]</span>
        </div>
      </form> 
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="vm.createPack()" ng-disabled="newPackForm.$invalid">
        <i class="fa fa-save"></i> Criar
      </button>
      <button class="btn btn-default" ng-click="vm.close()">
        <i class="fa fa-close"></i> Fechar
      </button>
    </div>
  </div>
</script>
