{% extends 'base.html' %}

{% block title %}Resetar Senha{% endblock %}

{% block body_class %}hold-transition login-page{% endblock body_class %}

{% block body %}
  <div class="login-box">

    <div class="login-logo">
      <b>Slide</b>Coins
    </div>

    <div class="login-box-body">
      <p class="login-box-msg">Reset de Senha Finalizado com Sucesso.</p>

      <div class="panel panel-success">
        <div class="panel-body">
          <a href="{% url 'account_login' %}">Login</a>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
