<div class="row" ng-show="User.user_type === 0 && !User.is_superuser">
  <div class="col-lg-6">
    <div class="info-box">
      <span class="info-box-icon bg-green">
        <i class="fa fa-shopping-bag"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">Meus Pontos</span>
        <span class="info-box-number">[[ User.user_points ]]</span>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="info-box">
      <span class="info-box-icon bg-green">
        <i class="fa fa-shopping-bag"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">Meus Pontos de Rede</span>
        <span class="info-box-number">[[ User.network_points ]]</span>
      </div>
    </div>
  </div>
</div>
