{% extends 'base.html' %}

{% block title %}Ativação de Conta{% endblock %}

{% block body_class %}hold-transition login-page{% endblock body_class %}

{% block body %}
  <div class="login-box">

    {% include "account/includes/header_logo.html" %}

    <div class="login-box-body">
      <p class="login-box-msg">Ativação de conta.</p>

      <div class="panel panel-success">
        <div class="panel-body">
          <p>Sua conta foi ativada com sucesso. Agora você pode fazer login em nosso site. Obrigado.</p>
          <hr/>
          <a href="{% url 'account_login' %}">Login</a>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
