{% extends 'base.html' %}{% load render_field from widget_tweaks %}

{% block title %}Resetar Senha{% endblock %}

{% block body_class %}hold-transition login-page{% endblock body_class %}

{% block body %}
  <div class="login-box">

    {% include "account/includes/header_logo.html" %}

    <div class="login-box-body">
      <p class="login-box-msg">Entre com seu email de registro no campo a seguir para <i>resetar</i> sua senha</p>

      <form action="{% url 'account_reset_password' %}" method="post" novalidate>{% csrf_token %}
        <div class="form-group has-feedback {% if form.email.errors %}has-error{% endif %}">
          {% render_field form.email class="form-control" placeholder="email" autofocus="autofocus" %}
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          {% if form.email.errors %}
            <span class="text-danger">{{ form.email.errors.0 }}</span>
          {% endif %}
        </div>

        <hr>
        <div class="clearfix">
          <a href="{% url 'account_login' %}" class="pull-left">Login</a>

          <button submit type="submit" class="btn btn-primary btn-flat pull-right" id="id_reset_password_button">
            <span class="glyphicon glyphicon-refresh"></span> Resetar Senha
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock body %}
