{% extends 'base.html' %}{% load render_field from widget_tweaks %}
{% block title %}Registrar{% endblock %}

{% block body_class %}hold-transition register-page{% endblock body_class %}

{% block body %}
  <div class="login-box" ng-controller="SignupCtrl as vm">

    {% include "account/includes/header_logo.html" %}

    {% if form.non_field_errors %}
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{ form.non_field_errors.0 }}
      </div>
    {% endif %}

    <div class="login-box-body">
      <p class="login-box-msg">Prencha o campos abaixo para iniciar seu registro.</p>

      <form enctype="multipart/form-data" action="{% url 'account_signup' %}" method="post" novalidate>{% csrf_token %}
        <div class="form-group has-feedback {% if form.first_name.errors %}has-error{% endif %}">
          {% render_field form.first_name class="form-control" placeholder="Nome Completo" autofocus="autofocus" %}
          <span class="glyphicon glyphicon-edit form-control-feedback"></span>
          {% if form.first_name.errors %}
            <span class="text-danger">{{ form.first_name.errors.0 }}</span>
          {% endif %}
        </div>

        <div class="form-group has-feedback {% if form.email.errors %}has-error{% endif %}">
          {% render_field form.email class="form-control" placeholder="Email" %}
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          {% if form.email.errors %}
            <span class="text-danger">{{ form.email.errors.0 }}</span>
          {% endif %}
        </div>

        <div class="form-group has-feedback {% if form.username.errors %}has-error{% endif %}">
          {% render_field form.username class="form-control" placeholder="ID Usuário"%}
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
          {% if form.username.errors %}
            <span class="text-danger">{{ form.username.errors.0 }}</span>
          {% endif %}
        </div>

        <div class="form-group has-feedback {% if form.password1.errors %}has-error{% endif %}">
          {% render_field form.password1 class="form-control" placeholder="Senha" %}
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          {% if form.password1.errors %}
            <span class="text-danger">{{ form.password1.errors.0 }}</span>
          {% endif %}
        </div>

        <div class="form-group has-feedback {% if form.password2.errors %}has-error{% endif %}">
          {% render_field form.password2 class="form-control" placeholder="Confirmar Senha" %}
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          {% if form.password2.errors %}
            <span class="text-danger">{{ form.password2.errors.0 }}</span>
          {% endif %}
        </div>

        <div class="form-group has-feedback {% if form.phone.errors %}has-error{% endif %}">
          {% render_field form.phone class="form-control" placeholder="Telefone: (99) 9999 9999" ng-model="vm.phone_number" ui-br-phone-number="" %}
          <span class="glyphicon glyphicon-phone form-control-feedback"></span>
          {% if form.phone.errors %}
            <span class="text-danger">{{ form.phone.errors.0 }}</span>
          {% endif %}
        </div>

        <div class="form-group has-feedback {% if form.user_image.errors %}has-error{% endif %}">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="vm.clearUserImage($event)" title="Clique para limpar a imagem selecionada.">
                <i class="fa fa-eraser"></i>
              </button>
            </span>
            {% render_field form.user_image class="filestyle" data-iconName="glyphicon glyphicon-picture" data-buttonText="Imagem de perfil" %}
            {% if form.user_image.errors %}
              <span class="text-danger">{{ form.user_image.errors.0 }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="vm.clearSelectedFriend($event)" title="Clique para limpar a ID do amigo">
                <i class="fa fa-eraser"></i>
              </button>
            </span>
            <input type="text" class="form-control" ng-model="vm.selectedFriend.username" placeholder="ID do amigo" disabled/>
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="vm.openFriendModal($event)" title="Clique para procurar pela ID de um amigo">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
          <input type="hidden" name="friend" value="[[ vm.selectedFriend.id ]]">
        </div>

        <div class="form-group clearfix has-feedback {% if form.is_affiliated.errors %}has-error{% endif %}">
           <div class="checkbox pull-right">
            <label>
              {% render_field form.is_affiliated ng-click="vm.show_affiliated_terms()" ng-model="vm.is_affiliated" %} Quero me tornar um licenciado
            </label>
          </div>
        </div>

        <div class="clearfix">
          <div class="pull-left">
            <a href="{% url 'account_login' %}" id="id_login_button">Login</a>
          </div>

          <div class="pull-right">
            <button submit type="submit" class="btn btn-primary btn-flat" id="id_register_button"><span class="glyphicon glyphicon-floppy-save"></span> Registrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script type="text/ng-template" id="affiliated_terms.html">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Termos de Afiliação</h3>
    </div>

    <div class="modal-body" id="modal-body" style="max-height: 300px; overflow: scroll" scroll="vm.scroll_down=true">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="vm.agree()" ng-disabled="!vm.scroll_down">
        <i class="fa fa-check"></i> Concordo
      </button>
      <button class="btn btn-default" ng-click="vm.cancel()">
        <i class="fa fa-close"></i> Cancelar
      </button>
    </div>
  </script>

  <script type="text/ng-template" id="friendModal.html">
    <div cg-busy="vm.searchFriendPromise">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Busca de amigo</h3>
      </div>
      <div class="modal-body" id="modal-body">
        <form name="friendForm" novalidate>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="vm.query" placeholder="ID do amigo">
          </div>
        </form>

        <table class="table table-bordered table-hover" style="margin-bottom: 5px">
          <thead>
            <th>ID do Amigo</th>
            <th>Nome</th>
          </thead>

          <tbody>
            <tr ng-repeat="friend in vm.friends.results" ng-click="vm.setSelectedFriend(friend)" class="pointer" title="Clique para selecionar como amigo">
              <td>[[ friend.username ]]</td>
              <td>[[ friend.first_name ]]</td>
            </tr>
          </tbody>
        </table>

        <div class="clearfix">
          <nav aria-label="Page navigation" class="pull-right" ng-show="vm.friends.page_range.length > 1">
            <ul class="pagination pagination-sm">
              <li ng-class="{'disabled': !vm.friends.has_previous}">
                <a ng-click="vm.friends.previous_page_number && vm.loadFriends({'page': vm.friends.previous_page_number, 'page_size': vm.page_size, 'search': vm.query})"
                    aria-label="Previous" ng-class="{'pointer': vm.friends.has_previous}">
                  <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
                </a>
              </li>
              <li ng-repeat="num_page in vm.friends.page_range" ng-class="{'active': num_page === vm.friends.number}" class="pointer">
                <a ng-click="vm.loadFriends({'page': num_page, 'page_size': vm.page_size, 'search': vm.query})">[[ num_page ]]</a>
              </li>
              <li ng-class="{'disabled': !vm.friends.has_next}">
                <a ng-click="vm.friends.next_page_number && vm.loadFriends({'page': vm.friends.next_page_number, 'page_size': vm.page_size, 'search': vm.query})"
                    aria-label="Next" ng-class="{'pointer': vm.friends.has_next}">
                  <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="vm.loadFriends({'page_size': vm.page_size, 'search': vm.query})" ng-disabled="friendForm.$invalid">
          <i class="fa fa-save"></i> Procurar
        </button>
        <button class="btn btn-default" ng-click="vm.close()">
          <i class="fa fa-close"></i> Fechar
        </button>
      </div>
    </div>
  </script>
{% endblock %}
