{% extends 'base.html' %}

{% block title %}Registro Inicializado{% endblock %}

{% block body_class %}hold-transition login-page{% endblock body_class %}

{% block body %}
  <div class="login-box">

    {% include "account/includes/header_logo.html" %}

    <div class="login-box-body">
      <p class="login-box-msg">Registro Inicializado</p>

      <div class="panel panel-info">
        <div class="panel-body">
          <p>Um email com instruções para completar seu registro foi enviado.</p>
          <hr/>
          <a href="{% url 'account_login' %}">Login</a>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
