<div class="row">
  <div class="col-lg-12" cg-busy="vm.promise">
    <n-views></n-views>

    <div class="box box-solid">
      <div class="box-body table-responsive">
        <div class="clearfix" style="margin-bottom: 10px">
          <h4 class="pull-left">Histórico de compras ([[ vm.orders.count ]])</h4>
          <span class="pull-right" style="cursor: pointer;position: relative;top: 15px"
              ng-click="vm.loadOrders({'page_size': vm.page_size, 'search': vm.query})"
              title="Recarregar packs"><i class="fa fa-refresh"></i>
          </span>
          <div class="pull-right" style="margin-left: 15px;margin-right: 15px;position: relative;top: 10px">
            <span>Total por página:</span>
            <select ng-options="value for value in [5, 10, 20, 30]" ng-model="vm.page_size"
                ng-change="vm.loadOrders({'page_size': vm.page_size, 'search': vm.query})"></select>
          </div>
          <div class="pull-right col-lg-4 col-md-4 col-xs-12" style="position: relative;top: 5px; margin-top: 10px">
            <form class="input-group">
              <input type="text" class="form-control" placeholder="Busca" ng-model="vm.query">
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="vm.loadOrders({'page_size': vm.page_size, 'search': vm.query})">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </form>
          </div>
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <th>#</th>
            <th>Preço Total</th>
            <th>Total de Visualizações</th>
            <th>Data da compra</th>
            <th>Status</th>
            <th></th>
          </thead>

          <tbody>
            <tr ng-repeat="order in vm.orders.results">
              <td>[[ order.id ]]</td>
              <td>[[ order.total_price | currency ]]</td>
              <td>[[ order.total_n_views ]]</td>
              <td>[[ order.buy_date | date: "dd/MM/yyyy 'às' HH:mm:ss" ]]</td>
              <td>
                <span class="label" ng-class="{'label-warning': order.status === 'A Pagar', 'label-success': order.status === 'Pago'}">
                  [[ order.status ]]
                </span>
              </td>
              <td>
                <a ng-show="order.status == 'A Pagar'" title="Clique para gerar outra via do boleto." target="_blank" style="color: #333"
                    href="https://mibankws.azurewebsites.net/api/boleto/exibir-boleto?boleto=[[ order.boleto_hash ]]">
                  <i class="fa fa-credit-card"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <nav aria-label="Page navigation" class="pull-right" ng-show="vm.orders.page_range.length > 1">
          <ul class="pagination pagination-sm">
            <li ng-class="{'disabled': !vm.orders.has_previous}">
              <a ng-click="vm.orders.previous_page_number && vm.loadOrders({'page': vm.orders.previous_page_number, 'page_size': vm.page_size, 'search': vm.query})"
                  aria-label="Previous" ng-class="{'pointer': vm.orders.has_previous}">
                <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
              </a>
            </li>
            <li ng-repeat="num_page in vm.orders.page_range" ng-class="{'active': num_page === vm.orders.number}" class="pointer">
              <a ng-click="vm.loadOrders({'page': num_page, 'page_size': vm.page_size, 'search': vm.query})">[[ num_page ]]</a>
            </li>
            <li ng-class="{'disabled': !vm.orders.has_next}">
              <a ng-click="vm.orders.next_page_number && vm.loadOrders({'page': vm.orders.next_page_number, 'page_size': vm.page_size, 'search': vm.query})"
                  aria-label="Next" ng-class="{'pointer': vm.orders.has_next}">
                <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
