<div class="row" cg-busy="vm.promise">
  <div class="col-lg-12">
    <div class="box box-solid">
      <div class="box-body">
        <div class="panel panel-default table-responsive">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-shopping-cart"></i> Meu Carrinho</h3>
          </div>
          <table class="table table-bordered table-condensed table-hover">
            <thead>
              <th>Nome</th>
              <th>Nº de Visualizações</th>
              <th>Quantidade</th>
              <th>Preço</th>
              <th>Total de Visualizações</th>
              <th>Preço Total</th>
              <th></th>
            </thead>

            <tbody>
              <tr ng-repeat="item in vm.shoppingCart.shopping_cart_items">
                <td>[[ item.pack.name ]]</td>
                <td>[[ item.pack.n_views ]]</td>
                <td>[[ item.quantity ]] 
                  <span class="pull-right">
                    <i class="fa fa-arrow-up pointer"
                        title="Clique para aumentar a quantidade desse pack"
                        ng-click="vm.updateShoppingCartItem('Deseja incrementar a quantidade desse item?', [{pack: item.pack.id, quantity: 1}])"></i>

                    <i class="fa fa-arrow-down pointer"
                        title="Clique para diminuir a quantidade desse pack"
                        ng-click="vm.updateShoppingCartItem('Deseja diminuir a quantidade desse item?', [{pack: item.pack.id, quantity: -1}])"></i>
                  </span>
                </td>
                <td>[[ item.pack.price | currency ]]</td>
                <td>[[ item.total_n_views ]]</td>
                <td>[[ item.total_price | currency ]]</td>
                <td>
                  <i class="fa fa-remove pointer text-danger"
                      title="Clique para remover esse item do carrinho" ng-click="vm.deleteShoppingCartItem(item)"></i>
                </td>
              </tr>
            </tbody>

            <tfoot class="panel-footer">
              <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td></td>
                <td>[[ vm.shoppingCart.total_n_views ]]</td>
                <td>[[ vm.shoppingCart.total_price | currency ]]</td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="pull-right" style="position: relative; bottom: 10px">
          <button class="btn btn-success" style="margin-top: 10px"
              ng-click="vm.createOrder()" ng-disabled="vm.shoppingCart.shopping_cart_items.length == 0">
            <i class="fa fa-check"></i> Finalizar Compra
          </button>
          <button class="btn btn-danger" style="margin-top: 10px"
              ng-click="vm.clearShoppingCart()" ng-disabled="vm.shoppingCart.shopping_cart_items.length == 0">
            <i class="fa fa-remove pointer"></i> Limpar Carrinho
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
