/* global styles */
.pointer {
  cursor: pointer;
}

.angular-google-map-container {
  height: 800px;
}

.small-map .angular-google-map-container {
  height: 400px;
  border-radius: 5px;
  border: thin solid silver;
}

.chart-container, .chart {
  height: 400px;
}

.login-logo .click-logo {
  font-size: 50px;
  position: relative;
  top: 30px;
  right: 30px;
}