<div class="row" cg-busy="vm.pagePromise">

  <div class="col-lg-4">
    <div class="box box-solid" cg-busy="vm.updateUserDataPromise">
      <div class="box-header with-border">
        <h3 class="box-title">Dados cadastrais</h3>
      </div>

      <div class="box-body">
        <form name="personalDataForm" enctype="multipart/form-data" novalidate>
          <div class="form-group">
            <label for="">Imagem do perfil</label>
            <input id="id_user_image" type="file" name="user_image" fileread="vm.User.user_image">
          </div>

          <div class="form-group has-feedback" ng-class="{'has-error': vm.userDataErrors.first_name}">
            <label for="">Nome completo</label>
            <input type="text" class="form-control" name="first_name" ng-model="vm.User.first_name" />
            <span class="help-block" ng-show="vm.userDataErrors.first_name">
              [[ vm.userDataErrors.first_name[0] ]]
            </span>
          </div>

          <div class="form-group has-feedback">
            <label for="">Telefone</label>
            <input type="text" class="form-control" name="phone" ng-model="vm.User.phone" ui-br-phone-number="" />
            <span class="glyphicon glyphicon-phone form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <label for="">Gênero</label>
            <select class="form-control" name="gender" ng-model="vm.User.gender">
              <option value=""></option>
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
              <option value="O">Outro</option>
            </select>
          </div>

          <hr/>
          <button class="btn btn-default pull-right" ng-click="vm.updateUserData()">
            <i class="fa fa-refresh"></i> Atualizar dados cadastrais
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-4" ng-if="User.user_type >= 1">
    <div class="box box-solid" cg-busy="vm.createProfilePromise">

      <div class="box-header with-border">
        <h3 class="box-title">Informações de Cobrança</h3>
      </div>

      <div class="box-body">
        <form name="profileForm" novalidate>

          <div class="form-group has-feedback" ng-class="{'has-error': vm.profileDataErrors.sacado_documento}">
            <label for="">CPF/CNPJ</label>
            <input type="text" class="form-control" name="sacado_documento" ng-model="vm.User.profile.sacado_documento" ui-br-cpfcnpj-mask required/>
            <span class="help-block" ng-show="vm.profileDataErrors.sacado_documento">
              [[ vm.profileDataErrors.sacado_documento[0] ]]
            </span>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-error': vm.profileDataErrors.sacado_uf}">
            <label for="">Estado</label>
            <select class="form-control" name="state"  ng-model="vm.User.profile.sacado_uf" ng-change="vm.setCities()" required>
              <option ng-repeat="state in vm.states" value="[[ state ]]">[[ state ]]</option>
            </select>
            <span class="help-block" ng-show="vm.profileDataErrors.sacado_uf">
              [[ vm.profileDataErrors.sacado_uf[0] ]]
            </span>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-error': vm.profileDataErrors.sacado_cidade}">
            <label for="">Cidade</label>
            <select class="form-control" name="city" ng-model="vm.User.profile.sacado_cidade"> required
              <option ng-repeat="city in vm.cities" value="[[ city ]]">[[ city ]]</option>
            </select>
            <span class="help-block" ng-show="vm.profileDataErrors.sacado_cidade">
              [[ vm.profileDataErrors.sacado_cidade[0] ]]
            </span>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-error': vm.profileDataErrors.sacado_bairro}">
            <label for="">Bairro</label>
            <input type="text" class="form-control" name="sacado_bairro" ng-model="vm.User.profile.sacado_bairro" required/>
            <span class="help-block" ng-show="vm.profileDataErrors.sacado_bairro">
              [[ vm.profileDataErrors.sacado_bairro[0] ]]
            </span>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-error': vm.profileDataErrors.sacado_logradouro}">
            <label for="">Endereço</label>
            <input type="text" class="form-control" name="sacado_logradouro" ng-model="vm.User.profile.sacado_logradouro" required/>
            <span class="help-block" ng-show="vm.profileDataErrors.sacado_logradouro">
              [[ vm.profileDataErrors.sacado_logradouro[0] ]]
            </span>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-error': vm.profileDataErrors.sacado_numero}">
            <label for="">Número</label>
            <input type="text" class="form-control" name="sacado_numero" ng-model="vm.User.profile.sacado_numero" required/>
            <span class="help-block" ng-show="vm.profileDataErrors.sacado_numero">
              [[ vm.profileDataErrors.sacado_numero[0] ]]
            </span>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-error': vm.profileDataErrors.sacado_cep}">
            <label for="">CEP</label>
            <input type="text" class="form-control" name="sacado_cep" ng-model="vm.User.profile.sacado_cep" ui-br-cep-mask required/>
            <span class="help-block" ng-show="vm.profileDataErrors.sacado_cep">
              [[ vm.profileDataErrors.sacado_cep[0] ]]
            </span>
          </div>

          <hr/>
          <button class="btn btn-default pull-right" ng-click="vm.saveProfileData()" ng-disabled="profileForm.$invalid">
            <i class="fa fa-refresh"></i> Salvar informações de cobrança
          </button>
        </form>
      </div>

    </div>
  </div>

  <div class="col-lg-4">
    <div class="box box-solid" cg-busy="vm.changePasswordPromise">
      <div class="box-header with-border">
        <h3 class="box-title">Atualizar senha</h3>
      </div>

      <div class="box-body">
        <form name="passwordChangeForm" novalidate>
          <div class="form-group" ng-class="{'has-error': vm.changePasswordErrors.old_password}">
            <label for="">Senha antiga</label>
            <input type="password" class="form-control" name="old_password" ng-model="vm.changePasswordData.old_password" required/>
            <span class="help-block" ng-show="vm.changePasswordErrors.old_password">Senha inválida.</span>
          </div>
          <div class="form-group" ng-class="{'has-error': vm.changePasswordErrors.new_password1}">
            <label for="">Nova senha</label>
            <input type="password" class="form-control" name="new_password1" ng-model="vm.changePasswordData.new_password1" required/>
            <span class="help-block text-danger" ng-show="vm.changePasswordErrors.new_password1">
              [[ vm.changePasswordErrors.new_password1[0] ]]
            </span>
          </div>
          <div class="form-group" ng-class="{'has-error': vm.changePasswordErrors.new_password2}">
            <label for="">Confirmar nova senha</label>
            <input type="password" class="form-control" name="new_password2" ng-model="vm.changePasswordData.new_password2" required/>
            <span class="help-block text-danger" ng-show="vm.changePasswordErrors.new_password2">
              [[ vm.changePasswordErrors.new_password2[0] ]]
            </span>
          </div>
          <hr/>
          <button class="btn btn-default pull-right" ng-click="vm.changePassword()" ng-disabled="passwordChangeForm.$invalid">
            <i class="fa fa-refresh"></i> Atualizar senha
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $('#id_user_image').filestyle({
    iconName: 'glyphicon glyphicon-picture',
    buttonText: 'Imagem do perfil'
  });
</script>
