<li class="dropdown user user-menu">{% load user_image from core_tags %}
  <!-- Menu Toggle Button -->
  <a href="" class="dropdown-toggle" data-toggle="dropdown">
    <!-- The user image in the navbar-->
    <img ng-src="[[ User.user_image ]]" class="user-image" alt="User Image">
    <!-- hidden-xs hides the username on small devices so only the image appears. -->
    <span class="hidden-xs">[[ User.first_name ]]</span> <i class="fa fa-caret-down" style="margin-left: 5px"></i>
  </a>
  <ul class="dropdown-menu">
    <!-- The user image in the menu -->
    <li class="user-header">
      <img ng-src="[[ User.user_image ]]"  class="img-circle" alt="User Image">
      <p>
        [[ User.first_name ]]
        <small>Desde [[ User.created | date: "dd/MM/yyyy 'às' HH:mm:ss" ]]</small>
      </p>
    </li>
    <!-- Menu Footer-->
    <li class="user-footer">
      <div class="pull-left">
        <a class="btn btn-default btn-flat pointer" ui-sref="settings">
          <i class="fa fa-cogs"></i> Configurações
        </a>
      </div>
      <div class="pull-right">
        <a ng-click="vm.logout()" class="btn btn-default btn-flat">
          <i class="fa fa-sign-out"></i> Logout
        </a>
      </div>
    </li>
  </ul>
</li>
