<div class="row" cg-busy="vm.promise">
  <div class="col-lg-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-user"></i> Usuários cadastrados</h3>
      </div>
      <div class="box-body table-responsive">
        <div class="clearfix" style="margin-bottom: 10px">
          <span class="pull-right" style="cursor: pointer;position: relative;top: 15px"
              ng-click="vm.loadUsers({'page_size': vm.page_size, 'search': vm.query})"
              title="Recarregar tickets"><i class="fa fa-refresh"></i>
          </span>
          <div class="pull-right" style="margin-left: 15px;margin-right: 15px;position: relative;top: 10px">
            <span>Total por página:</span>
            <select ng-options="value for value in [5, 10, 20, 30]" ng-model="vm.page_size"
                ng-change="vm.loadUsers({'page_size': vm.page_size, 'search': vm.query})"></select>
          </div>
          <div class="pull-right col-lg-3 col-md-4 col-xs-12" style="position: relative;top: 5px; margin-top: 10px">
            <form class="input-group">
              <input type="text" class="form-control" placeholder="Busca" ng-model="vm.query">
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="vm.loadUsers({'page_size': vm.page_size, 'search': vm.query})">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </form>
          </div>
        </div>
        <table class="table table-bordered table-striped">
          <thead>
            <th>#</th>
            <th>Usuário</th>
            <th>Email</th>
            <th>Tipo de usuário</th>
          </thead>

          <tbody>
            <tr ng-repeat="user in vm.users.results">
              <td>[[ user.id ]]</td>
              <td>[[ user.username ]]</td>
              <td>[[ user.email ]]</td>
              <td>
                <span ng-if="user.user_type === 0" class="label label-default">Afiliado</span>
                <span ng-if="user.user_type === 1" class="label label-primary">Licenciado</span>
              </td>
            </tr>
          </tbody>
        </table>

        <nav aria-label="Page navigation" class="pull-right" ng-show="vm.users.page_range.length > 1">
          <ul class="pagination pagination-sm">
            <li ng-class="{'disabled': !vm.users.has_previous}">
              <a ng-click="vm.users.previous_page_number && vm.loadUsers({'page': vm.users.previous_page_number, 'page_size': vm.page_size, 'search': vm.query})"
                  aria-label="Previous" ng-class="{'pointer': vm.users.has_previous}">
                <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
              </a>
            </li>
            <li ng-repeat="num_page in vm.users.page_range" ng-class="{'active': num_page === vm.users.number}" class="pointer">
              <a ng-click="vm.loadUsers({'page': num_page, 'page_size': vm.page_size, 'search': vm.query})">[[ num_page ]]</a>
            </li>
            <li ng-class="{'disabled': !vm.users.has_next}">
              <a ng-click="vm.users.next_page_number && vm.loadUsers({'page': vm.users.next_page_number, 'page_size': vm.page_size, 'search': vm.query})"
                  aria-label="Next" ng-class="{'pointer': vm.users.has_next}">
                <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
